[{lager, [
	{handlers, [
		{lager_udp_backend,
			[info,
			{host, "graylog.erlang-solutions.com"},
			{port, 12201},
			{level, info},
			{formatter, lager_gelf_formatter},
			{format_config, [{metadata, [{service, "erlproject"}]}]}
			]},
			{lager_console_backend, [info, {lager_gelf_formatter, []}]},
			{lager_file_backend, [{file, "lager/error.log"}, {level, error}]},
			{lager_file_backend, [{file, "lager/console.log"}, {level, info}]}
		]}
	]}].
