{erl_opts, [
            %% warnings_as_errors,
            debug_info,
            {parse_transform, lager_transform},
            {eunit_compile_opts, [export_all]},
            {nowarn_unused_function, []}
           ]}.
{xref_warnings, false}.
{xref_checks, [undefined_function_calls]}.
{deps, [

        %% Public repositories
        {lager, ".*",
            {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
	{emysql, ".*",
%            {git, "git://github.com/Eonblast/Emysql.git", {tag, "0.2.16"}}}
%%	]}.
	{git, "git://github.com/Eonblast/Emysql.git"}}
	]}.
{sys, [
	{lib_dirs,["../deps"]},
	{incl_cond, exclude},
	{app, sasl,   [{incl_cond, include}]},
   	{app, crypto,   [{incl_cond, include}]},
   	{app, stdlib, [{incl_cond, include}]}
%   	{app, emysql, 
%		[{mod_cond, app},{incl_cond, include},{lib_dir,"../deps/emysql"}]}
]}.

{'src/*', [debug_info,
	   {d,debug1,true},
           {i, "src"},
           {i, "include"},
           {outdir, "ebin"}

]}.


